<section class="my-4">
  <%= bootstrap_form_tag(url: alma_export_batch_files_path, method: 'get') do |form| %>
    <div class="row align-items-end">
      <div class="col-md-3 col-lg-2">
        <%= form.text_field 'filter[search]',
                            value: params.dig('filter', 'search'),
                            label: 'Search'
        %>
      </div>
      <div class="col-md-3 col-lg-2">
        <%= form.select 'filter[status]',
                        options_for_select(titleize_and_pair(Statuses::ALL), selected: params.dig('filter', 'status')),
                        include_blank: true,
                        label: 'Status'
        %>
      </div>
      <div class="col-md-3 col-lg-2">
        <%= form.select 'filter[sort_value]',
                        options_for_select(titleize_and_pair(%w[started_at completed_at]), selected: params.dig('filter', 'sort_value')),
                        include_blank: true,
                        label: 'Sort by'
        %>
      </div>
      <div class="col-md-3 col-lg-2">
        <%= form.select 'filter[sort_order]',
                        options_for_select([%w[Ascending asc], %w[Descending desc]], selected: params.dig('filter', 'sort_order')),
                        include_blank: true,
                        label: 'Order'
        %>
      </div>
      <div class="col my-3 d-flex align-items-center">
        <%= form.submit 'Filter', name: nil, class: 'btn btn-primary' %>
        <%= link_to '', alma_export_batch_files_path, name: nil, class: 'btn btn-close btn-sm ms-3' %>
      </div>
    </div>
  <% end %>
</section>