<h1>Batch Files for Alma Export: <%= @alma_export.id %></h1>

<% if @batch_files.empty? %>
  <p>No batch files</p>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">File Path</th>
      <th scope="col">Status</th>
      <th scope="col">Error Messages</th>
      <th scope="col">Started At</th>
      <th scope="col">Completed At</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
    </tr>
    </thead>
    <tbody>
    <% @batch_files.each do |file| %>
      <tr class="batch-file-row row-id-<%= file.id %>">
        <th scope="row" class="id">
          <%= link_to file.id, alma_export_batch_file_path(@alma_export, file.id) %>
        </th>
        <td class="path"><%= file.path %></td>
        <td class="status">
          <span class="badge bg-primary rounded-pill">
            <%= file.status.titleize %>
          </span>
        </td>
        <td class="errors">
          <%= link_to file.error_messages.count, alma_export_batch_file_path(@alma_export, file.id) %>
        </td>
        <td class="started-at"><%= file.started_at || 'Not Started' %></td>
        <td class="completed-at"><%= file.completed_at || 'Not Completed' %></td>
        <td class="created-at"><%= file.created_at %></td>
        <td class="updated-at"><%= file.updated_at %></td>
      </tr>
      </tbody>
    <% end %>
    </table>
<% end %>
