<h2>Batch File: <%= @batch_file.id %></h2>
<div class="pb-2">
  Belongs to Alma Export: <%= link_to @alma_export.id, alma_export_path(@alma_export) %>
</div>

<div class="table-responsive">
  <table class="table">
    <tbody>
    <tr class="id">
      <th scope="row">ID</th>
      <td><%= @batch_file.id %></td>
    </tr>
    <tr class="path">
      <th scope="row">Path</th>
      <td ><%= @batch_file.path %></td>
    </tr>
    <tr class="status">
      <th scope="row">Status</th>
      <td ><%= @batch_file.status %></td>
    </tr>
    <tr class="errors">
      <th scope="row">Errors</th>
      <td>
        <% if @batch_file.error_messages.any? %>
          <ul>
            <% @batch_file.error_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
    </tr>
    <tr class="started-at">
      <th scope="row">Started At</th>
      <td><%= @batch_file.started_at %></td>
    </tr>
    <tr class="completed-at">
      <th scope="row">Completed At</th>
      <td><%= @batch_file.completed_at %></td>
    </tr>
    <tr class="created-at">
      <th scope="row">Created At</th>
      <td><%= @batch_file.created_at %></td>
    </tr>
    <tr class="updated-at">
      <th scope="row">Updated At</th>
      <td><%= @batch_file.updated_at %></td>
    </tr>
    </tbody>
  </table>
</div>
