<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Catalog Indexing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= 'active' if request.path.starts_with?(index_by_id_path) %>" aria-current="page" href="<%= index_by_id_path %>">Index by Identifier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if request.path.starts_with?(alma_exports_path) %>" aria-current="page" href="<%= alma_exports_path %>">Alma Exports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if request.path.starts_with?(users_path) %>" aria-current="page" href="<%= users_path %>">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="http://localhost:8983" target="_blank">Solr Admin UI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/sidekiq" target="_blank">Sidekiq UI</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "User Summary", user_path(current_user), class: 'dropdown-item' %></li>
              <li><%= button_to "Sign Out", destroy_user_session_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>