<h2>Publish Job: <%= @publish_job.id %></h2>

<dl>
  <dt>ID</dt>
  <dd><%= @publish_job.id %></dd>
  <dt>Status</dt>
  <dd><%= @publish_job.status %></dd>
  <dt>Source</dt>
  <dd><%= @publish_job.alma_source %></dd>
  <dt>Initiated By</dt>
  <dd><%= @publish_job.initiated_by %></dd>
  <dt>Full?</dt>
  <dd><%= @publish_job.full %></dd>
  <dt>Webhook Body</dt>
  <dd><%= JSON.pretty_generate(
            JSON.parse(@publish_job.webhook_body)
          ) if @publish_job.webhook_body.present? %></dd>
  <dt>Started At</dt>
  <dd><%= @publish_job.started_at %></dd>
  <dt>Completed At</dt>
  <dd><%= @publish_job.completed_at || 'Not Completed' %></dd>
  <dt>Created At</dt>
  <dd><%= @publish_job.created_at %></dd>
  <dt>Updated At</dt>
  <dd><%= @publish_job.started_at %></dd>
</dl>

<h3>Batch Files</h3>

<% if @publish_job.batch_files.empty? %>
  <p>No batch files</p>
<% else %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">File Path</th>
      <th scope="col">Status</th>
      <th scope="col">Error Messages</th>
      <th scope="col">Started At</th>
      <th scope="col">Completed At</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
    </tr>
    </thead>
  <% @publish_job.batch_files.each do |file| %>
    <tbody>
    <tr>
      <th scope="row"><%= file.id %></th>
      <td><%= file.path %></td>
      <td><%= file.status %></td>
      <td>
        <% if file.error_messages.any? %>
        <ul>
          <% file.error_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
      </td>
      <td><%= file.started_at %></td>
      <td><%= file.completed_at %></td>
      <td><%= file.created_at %></td>
      <td><%= file.updated_at %></td>
    </tr>
    </tbody>
  <% end %>
  </table>
<% end %>
