<h2>Alma Export: <%= @alma_export.id %></h2>

<dl>
  <dt>ID</dt>
  <dd><%= @alma_export.id %></dd>
  <dt>Status</dt>
  <dd><%= @alma_export.status %></dd>
  <dt>Source</dt>
  <dd><%= @alma_export.alma_source %></dd>
  <dt>Full?</dt>
  <dd><%= @alma_export.full %></dd>
  <dt>Webhook Body</dt>
  <dd>
    <pre>
      <%= JSON.pretty_generate @alma_export.webhook_body %>
    </pre>
  </dd>
  <dt>Started At</dt>
  <dd><%= @alma_export.started_at %></dd>
  <dt>Completed At</dt>
  <dd><%= @alma_export.completed_at || 'Not Completed' %></dd>
  <dt>Created At</dt>
  <dd><%= @alma_export.created_at %></dd>
  <dt>Updated At</dt>
  <dd><%= @alma_export.started_at %></dd>
</dl>

<% unless @alma_export.batch_files.empty? %>
  <%= link_to "Show Batch Files", alma_export_batch_files_path(@alma_export), class: 'btn btn-primary' %>
<% end %>

