<h2>Alma Export: <%= @alma_export.id %></h2>

<div class="table_responsive">
  <table class="table">
    <tbody>
    <tr class="id">
      <th scope="row">ID</th>
      <td><%= @alma_export.id %></td>
    </tr>
    <tr class="target-collections">
      <th scope="row">Target Collections</th>
      <td>
        <% if @alma_export.target_collections.any? %>
          <ul>
            <% @alma_export.target_collections.each do |collection| %>
              <li><%= collection %></li>
            <% end %>
          </ul>
        <% else %>
          None
        <% end %>
      </td>
    </tr>
    <tr class="status">
      <th scope="row">Status</th>
      <td><%= @alma_export.status.capitalize %></td>
    </tr>
    <tr class="source">
      <th scope="row">Source</th>
      <td><%= @alma_export.alma_source %></td>
    </tr>
    <tr class="full">
      <th scope="row">Full?</th>
      <td><%= @alma_export.full.to_s.capitalize %></td>
    </tr>
    <tr class="started-at">
      <th scope="row">Started At</th>
      <td><%= @alma_export.started_at || 'Not Started' %></td>
    </tr>
    <tr class="completed-at">
      <th scope="row">Completed At</th>
      <td><%= @alma_export.completed_at || 'Not Completed' %></td>
    </tr>
    <tr class="created-at">
      <th scope="row">Created At</th>
      <td><%= @alma_export.created_at %></td>
    </tr>
    <tr class="updated-at">
      <th scope="row">Updated At</th>
      <td><%= @alma_export.updated_at %></td>
    </tr>
    <tr class="webhook-body">
      <th scope="row">Webhook Body</th>
      <td>
        <pre>
          <%= JSON.pretty_generate @alma_export.webhook_body %>
        </pre>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<% unless @alma_export.batch_files.empty? %>
  <%= link_to "Show Batch Files", alma_export_batch_files_path(@alma_export), class: 'btn btn-primary' %>
<% end %>

